.vscode/settings.json
seqparser/__pycache__/__init__.cpython-312.pyc
seqparser/__pycache__/__init__.cpython-313.pyc
seqparser/__pycache__/parse.cpython-312.pyc
seqparser/__pycache__/parse.cpython-313.pyc
seqparser/__pycache__/seq.cpython-312.pyc
seqparser/__pycache__/seq.cpython-313.pyc
