.vscode/settings.json
seqparser/__pycache__/__init__.cpython-312.pyc
seqparser/__pycache__/__init__.cpython-313.pyc
seqparser/__pycache__/parse.cpython-312.pyc
seqparser/__pycache__/parse.cpython-313.pyc
seqparser/__pycache__/seq.cpython-312.pyc
seqparser/__pycache__/seq.cpython-313.pyc
tests/__pycache__/test_parsers.cpython-313-pytest-8.3.4.pyc
tests/__pycache__/test_transcribe.cpython-313-pytest-8.3.4.pyc
